<div class="container-login">
   <section class="form bg-color">
      <form novalidate>
         <img src="assets/img/logo.svg" alt="Logo PayFriends">
         <h1>Bem vindo de volta</h1>

         <fieldset>
            <label for="#email">E-mail</label>
            <input type="email" id="email">
         </fieldset>

         <fieldset>
            <label for="#senha">Senha</label>
            <input type="password" id="senha" appTogglePassword>
         </fieldset>

         <button type="submit" class="button primary">
            ENTRAR
         </button>
      </form>
   </section>
   <section class="img">
      <img src="assets/img/login.svg" alt="Login to PayFriends">
   </section>
</div>