$primary-color: hsla(214, 100%, 21%, 1);
$secondary-color: hsla(36, 100%, 67%, 1);

$bg-color: hsla(213, 39%, 95%, 1);
$title-color: hsla(0, 0%, 19%, 1);
$text-color: hsla(215, 17%, 21%, 1);
$caption-color: hsla(214, 14%, 48%, 1);

$button-text-color: hsla(6, 36%, 31%, 1);
$disable-color: hsla(0, 0%, 74%, 0.64);
$border-color: rgba(0, 0%, 0%, 0.12);

$white: hsl(0, 0%, 100%);