fieldset {
   border: none;
   padding: 0;
   margin: 0 0 1rem 0;
}

label {
   display: block;
   font-weight: 400;
   margin-bottom: 0.5rem;
   color: $text-color;
   font-size: 1rem;
}

input:not([type="checkbox"]) {
   border: 1px solid $border-color;
   border-radius: 0.25rem;
   color: $text-color;
   font-size: 1rem;
   font-weight: 400;
   height: 40px;
   width: 100%;
   padding: 0 0.5rem;

   &:focus {
      outline-color: $secondary-color;
   }
}

input[appTogglePassword] {
   padding-right: 2.5rem;
}

input[type="checkbox"] {
   width: 18px;
   height: 18px;
}

.credentials-invalid,
.input-errors {
   font-size: 0.85rem;
   font-weight: 500;
   color: $feedback-error-color;
   margin:  0.5rem 0 0 0;
}