.bg-color {
   background-color: $bg-color;
}

.title {
   color: #303030;
   margin: 0 0 1rem 0;
   font-weight: 600;
   font-size: 2rem;
}

.toggle-password-container {
   position: relative;
}
.toggle-password {
   cursor: pointer;
   position: absolute;
   right: 12px;
   top: 50%;
   transform: translateY(-50%);
   line-height: 0;

   &.show {
      top: 58%;
   }
}