@import "colors.scss";
@import "buttons.scss";
@import "forms.scss";


// utils

.bg-color {
   background-color: $bg-color;
}

.toggle-password {
   cursor: pointer;
   position: absolute;
   right: 12px;
   top: 54%;
   line-height: 0;

   &.show {
      top: 58%;
   }
}