<div class="table-responsive">
   <div class="search-and-filter">
      <div class="filter-container">
         <input 
            type="text" 
            placeholder="Pesquisar por usuário"
            name="search"
            [(ngModel)]="filter"
            (ngModelChange)="filterBy()"
         >
         <img src="assets/img/icons/ic_search.svg" alt="Search Icon">
      </div>
      

      <div class="limit-and-pagination">
         <label for="limit">
            Exibir
            <select 
               class="form-select" 
               id="limit"
               name="limit" 
               [(ngModel)]="limit" 
               (ngModelChange)="limitChanged($event)"
            >
               <option value="5">5</option>
               <option value="10">10</option>
               <option value="15">15</option>
               <option value="20">20</option>
            </select>
         </label>
         
         <pagination 
            previousText="&lsaquo;" nextText="&rsaquo;"
            [totalItems]="totalItems"
            [itemsPerPage]="limit"
            [maxSize]="5"
            (pageChanged)="pageChanged($event)"
         >
         </pagination>
      </div>
   </div>

   <table class="table align-middle table-borderless">
      <thead>
         <tr>
           <th scope="col" (click)="sortBy('name')">
              Usuário
              <img src="assets/img/icons/ic_order.svg" alt="Order icon">
            </th>
           <th scope="col" (click)="sortBy('title')">
              Título
              <img src="assets/img/icons/ic_order.svg" alt="Order icon">
            </th>
           <th scope="col" (click)="sortBy('date')">
              Data
              <img src="assets/img/icons/ic_order.svg" alt="Order icon">
            </th>
           <th scope="col" (click)="sortBy('value')">
              Valor
              <img src="assets/img/icons/ic_order.svg" alt="Order icon">
            </th>
           <th scope="col" (click)="sortBy('isPayed')">
              Pago
              <img src="assets/img/icons/ic_order.svg" alt="Order icon">
            </th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody *ngIf="payments.length > 0">
         <tr class="align-middle" *ngFor="let payment of payments">
           <th class="align-middle" scope="row">
              {{ payment?.name }}<br>
              <small class="caption">{{ payment?.username }}</small>
           </th>
           <th class="align-middle" scope="row">
               {{ payment?.title }}
           </th>
           <th class="align-middle" scope="row">
               {{ payment?.date | date }}<br>
               <small class="caption">{{ payment?.date | date : 'h:mm a' }}</small>
           </th>
           <th class="align-middle" scope="row">
               {{ payment?.value | currency }}
           </th>
           <th class="align-middle" scope="row">
            <input type="checkbox" [checked]="payment?.isPayed">
           </th>
           <th class="align-middle actions" scope="row">
               <img 
                  src="assets/img/icons/ic_edit.svg" 
                  alt="Order icon"
                  (click)="edit(payment)"
               >
               <img 
                  src="assets/img/icons/ic_delete.svg" 
                  alt="Order icon"
                  (click)="remove(payment)"
               >
           </th>
         </tr>
       </tbody>
   </table>

   <div class="not-found text-center mb-3" *ngIf="!payments.length">
      <h5 class="font-wei">Nenhum pagamento encontrado :(</h5>
   </div>
</div>