<header (mouseleave)="showMenu = false">
   <img src="assets/img/logo-white.svg" alt="Logo PayFriends">

   <div class="profile" (click)="toggleMenu()">
      <img src="assets/img/profile.png" alt="Profile Image">
   </div>
   <div class="dropdown-menu" *ngIf="showMenu">
      <ul (click)="showMenu = false">
         <li class="current-user">
            <span>{{ user?.name }}</span>
            <small>{{ user?.email }}</small>
         </li>
         <li class="divider"></li>
         <li [routerLink]="['/home/payments']">Meus pagamentos</li>
         <li [routerLink]="['/home/profile']">Ver perfil</li>
         <li class="divider"></li>
         <li (click)="logout()">Sair</li>
      </ul>
   </div>
</header>
