h2 {
  font-family: 'Montserrat', sans-serif;
}

.wrapper-form{
  height: 100%; 
  width: 100%;
  background-color:#F2F2F2
}

.img-login img{
  height: 15px;
}

.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0 0px 0px -0px rgba(0, 0, 0, 0);
}
  
