<main class="payments">
  <div class="container-payments">
    <h1 class="title">Meus pagamentos</h1>

    <section class="add-payment">
        <button class="button primary" (click)="openModalNewPayment(newPayment)">
          ADICIONAR PAGAMENTO
        </button>
    </section>

    <section class="list-payment">
      <app-payments-table 
        [payments]="payments"
        (onFilter)="filterBy($event)"
        (onSortBy)="sortBy($event)"
        (onRemove)="openModalRemovePayment(removePayment, $event)"
        (onEdit)="openModalNewPayment(newPayment, $event)"
      >
      </app-payments-table>
    </section>
  </div>
</main>

<ng-template #newPayment>
  <div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="!payment">Adicionar pagamento</h4>
    <h4 class="modal-title pull-left" *ngIf="payment">Editar pagamento</h4>
  </div>
  <div class="modal-body">
    <form class="no-validate" novalidate [formGroup]="newPaymentForm">
      <div class="flex-container">
        <fieldset class="flex-item">
          <label for="name">Usuário</label>
          <input type="text" id="name" formControlName="name">

          <div class="input-messages" *ngIf="hasError('name') || hasErrorAndSubmittedForm('name')">
            <div class="input-errors">
              O usuário é obrigatorio.
            </div>
          </div>
        </fieldset>
  
        <fieldset class="flex-item">
          <label for="value">Valor</label>
          <input type="number" id="value"
            formControlName="value"
          >

          <div class="input-messages" *ngIf="hasError('value') || hasErrorAndSubmittedForm('value')">
            <div class="input-errors">
              O valor é obrigatorio.
            </div>
          </div>
        </fieldset>
      </div>

      <div class="flex-container end">
        <fieldset class="flex-item">
          <label for="date">Data</label>
          <input type="text" id="date"
            class="form-control"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="date"
          >
          
          <div class="input-messages" *ngIf="hasError('value') || hasErrorAndSubmittedForm('value')">
            <div class="input-errors">
              A data é obrigatoria.
            </div>
          </div>
        </fieldset>
  
        <fieldset class="flex-item">
          <label for="title">Título <i>(opcional)</i></label>
          <input type="text" id="title" name="title" formControlName="title">
        </fieldset>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button 
          type="button" 
          class="btn btn-light mr-2"
          (click)="closeModalNewPayment()"
        >
          CANCELAR
        </button>
        <button 
          type="submit"
          class="button primary"
          *ngIf="!loading"
          (click)="savePayment($event)"
        >
          SALVAR
        </button>
        <button 
          type="button"
          class="button primary"
          *ngIf="loading"
          disabled
        >
          CARREGANDO...
        </button>
      </div>
    </form>
  </div>
</ng-template>

 <ng-template #removePayment>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Excluir pagamento</h4>
  </div>
  <div class="modal-body">
    <section class="info-payments">
      <p>Usuário: {{ payment?.name }}</p>
      <p>Data: {{ payment?.date | date: 'dd/MM/yyyy' }}</p>
      <p>Valor: {{ payment?.value | currency }}</p>
    </section>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button 
        type="button" 
        class="btn btn-light mr-2"
        (click)="closeModalRemovePayment()"
      >
        CANCELAR
      </button>
      <button 
        type="submit"
        class="button primary"
        *ngIf="!loading"
        (click)="deletePayment($event)"
      >
        EXCLUIR
      </button>
      <button 
        type="button"
        class="button primary"
        *ngIf="loading"
        disabled
      >
        CARREGANDO...
      </button>
    </div>
  </div>
 </ng-template>